#main-page {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    background: #f9f9f9;
}

#logo-container {
    background-color: #f9f9f9; 
}

.logo {
    width: 250px; 
    height: auto; 
    display: inline-block; 
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-top: 20px;
}

.product-card {
    background: transparent !important;
    box-shadow: none !important;
    border: none; 
    width: 100%; 
    max-width: 900px; 
    height: 600px; 
    padding: 20px; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    background: #fff; 
    align-items: flex-start; 
    font-family: Arial, sans-serif; 
}

.product-card .card-title {
    max-width: 90%; 
    font-size: 40px; 
    font-style: normal;
    font-weight: 700; 
    color: #303030; 
    margin-bottom: 10px; 
    text-align: left; 
    line-height: normal; 
}

.product-card .card-text {
    margin-top: 20px;
    max-width: 44%; 
    font-size: 24px; 
    font-weight: 400; 
    color: #a2a2a2; 
    line-height: normal; 
    text-align: left; 
}

.product-card img {
    max-width: 500px;
    height: auto;
    object-fit: cover;
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}

.product-card button{
    cursor: pointer;
    width: 220px; 
    height: 60px; 
    align-self: flex-start; 
    background: #006cdc; 
    color: white; 
    font-weight: 530;
    font-style: normal;
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    border-radius: 50px; 
    border: 2px solid  #006cdc;
    line-height: 150%;
}

.product-card button[data-id="1"] {
    margin-top: 210px;
}

.product-card button[data-id="2"] {
    margin-top: 346px;
}

.product-card button[data-id="3"] {
    margin-top: 346px;
}


.product-card button:hover {
    background: #f8f9fa;
    border: 2px solid #006cdc;
    color: #006cdc;
}


