body {
    background-color: #f8f9fa;
}

.logo-container {
    text-align: left; /* Центрируем картинку */
}

.logo {
    width: 250px; /* Устанавливаем ширину */
    height: auto; /* Сохраняем пропорции */
    display: inline-block; /* Чтобы картинка центрировалась */
    margin-bottom: 20px; /* Добавляем отступ вниз */
}


/* Центрируем всю конструкцию */
.calculator-container {
    display: flex;
    flex-direction: column; /* Размещаем элементы сверху вниз */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    height: 80vh;
}

/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 70px;                 /* задаем ширину кнопки */
    height: 70px;                /* задаем высоту кнопки */
    border-radius: 50%;          /* округляем кнопку */
    border: none;                /* отключаем обводку */
    background: #303030;         /* задаем темно серый цвет кнопки */
    color: white;                /* задаем белый цвет текста внутри кнопки */
    font-size: 2rem;           /* увеличим размер шрифта */
    font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
} 
  
/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn.primary:hover {
    background: #f8f9fa;
    color: #006cdc;
    border: 2px solid #006cdc; /* Сделаем рамку синей */
}

.my-btn.my-btn.secondary:hover {
    background: #f8f9fa; /* при наведение курсора на кнопку, она будет окрашена в серый */  
    color:#bbbcc4;
    border: 2px solid #bbbcc4
}

.my-btn:hover {
    background: #f8f9fa; /* при наведение курсора на кнопку, она будет окрашена в серый */
    color:#303030;
    border: 2px solid #303030;
}
  
/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}
  
/* селектор для кнопок первостепенных операций */
.my-btn.primary { 
    background: #006cdc; /* цвет кнопки синий */
    border: 2px solid #006cdc
}
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #bbbcc4; /* цвет кнопки сервый */
  }
  
/* селектор для кнопки расчета выражения (=) */
.my-btn.execute { 
    width: 150px;          /* сделаем кнопку шире других */
    border-radius: 34px;   /* подкорректируем округлость */
}
  
/* селектор для поля вывода результата */
.result { 
    width: 300px;
    height: 70px;
    border-radius: 30px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(0, 0, 0); /* цвет можно задавать и таким образом */
    display: flex;
    justify-content: right;           /* примагнитим текст к правой стороне */
    align-items: center;
    color: white;              /* цвет текста белый */
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}