body {
    background-color: #f8f9fa;
}

.logo-container {
    text-align: left; /* Центрируем картинку */
}

.logo {
    width: 250px; /* Устанавливаем ширину */
    height: auto; /* Сохраняем пропорции */
    display: inline-block; /* Чтобы картинка центрировалась */
    margin-bottom: 20px; /* Добавляем отступ вниз */
}

.logo1 {
    width: 40px;         /* Размер изображения */
    height: 40px;
    object-fit: contain;
}


/* Центрируем всю конструкцию */
.calculator-container {
    display: flex;
    flex-direction: column; /* Размещаем элементы сверху вниз */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    height: 80vh;
}

/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 70px;                 /* задаем ширину кнопки */
    height: 70px;                /* задаем высоту кнопки */
    border-radius: 50%;          /* округляем кнопку */
    border: none;                /* отключаем обводку */
    background:  #f8f9fa;      
    color: balck;                /* задаем белый цвет текста внутри кнопки */
    font-size: 2rem;             /* увеличим размер шрифта */
    font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
} 
  
/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn.primary:hover {
    background: #f8f9fa;
    color: #006cdc;
    border: 2px solid #006cdc; /* Сделаем рамку синей */
}

.my-btn.secondary:hover {
    background: #f8f9fa; 
    color:#bbbcc4;
    border: 2px solid #bbbcc4
}

.my-btn.num:hover {
    color: #006cdc;
    border: 2px solid #006cdc;
}

.my-btn.execute:hover {
    color: #006cdc;
    border: 2px solid #006cdc;
}

.my-btn.sputnik:hover {
    background: #f8f9fa;   
    color:#bbbcc4;
    border: 2px solid #006cdc;
}
  
  
.my-btn.num { 
    background:  #f8f9fa;
    border: 2px solid #000000;
}


.my-btn.primary { 
    background: #006cdc; 
    border: 2px solid #006cdc
}
  

.my-btn.secondary { 
background: #bbbcc4;
}

.my-btn.execute { 
    width: 150px;
    border-radius: 34px;
    border: 2px solid #000000;
}

.my-btn.sputnik {
    background: #006cdc;
    width: 300px;
    height: 60px;
    border-radius: 30px
}
  
/* селектор для поля вывода результата */
.result {
    width: 300px;
    height: 70px;
    border-radius: 30px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: #f8f9fa; 
    display: flex;
    justify-content: right;      /* примагнитим текст к правой стороне */
    align-items: center;
    color: black;              
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;    
}

