
/*{
    outline: 1px solid red !important;
}*/

#logo-container1 {
    position: relative; 
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
    background: #f9f9f9;
}

.logo1 {
    width: 250px; 
    height: auto; 
    display: block; 
    margin: 0;
    padding: 0;
}

#product-page {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 50px; 
    padding: 20px; 
    background: #f9f9f9;
    z-index: -1; 
}

.product-container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0 auto;
}

.product-title {
    font-size: clamp(24px, 4vw, 40px);
    font-style: normal;
    font-weight: 700; 
    color: #303030; 
    text-align: center;
    margin-bottom: 20px;
    max-width: 90%;
}

.product-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    width: 100%;
}

.product-image {
    max-width: 50%; 
    height: auto;
    object-fit: contain;
    display: block;
    align-self: flex-end; 
    margin-bottom: 30px;
}

.product-texts {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    width: 50%; 
    margin-bottom: 50px;
    margin-left: 10px;
}

.text1, .text2, .text3, .text4 {
    font-size: 24px; 
    font-weight: 400; 
    color: #a2a2a2; 
    line-height: normal; 
    text-align: left; 
    margin-bottom: 25px;
}






